.profile {
	width: 300px;
	margin-inline: auto;
	margin-bottom: 50px;
	text-align: center;

	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}

.description {
	margin-bottom: 30px;
	padding-top: 30px;
	padding-inline: 15px;
}

.avatar {
	width: 100px;
	margin-inline: auto;
	margin-bottom: 30px;
	padding: 5px;
	background-color: grey;
	border-radius: 50%;
}

.name {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
}

.tag {
	margin-bottom: 10px;
	color: #808080;
}

.location {
	font-weight: 300;
}

.stats {
	display: flex;
	justify-content: center;
	align-items: center;

	border-top: 3px solid #e6e6e6;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #f3f6f9;
}

.stats li {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% / 3);
}

.stats li:not(:last-child) {
	border-right: 3px solid #e6e6e6;
}

.label {
	margin-bottom: 5px;
	padding-top: 15px;

	font-size: 12px;
	font-weight: 600;
	color: #8a98a7;
}

.quantity {
	padding-bottom: 15px;

	font-size: 18px;
	font-weight: 600;
	color: #203349;
}
